/*All the styles that apply in dark mode*/
body{
    color: white;
}

#inner-container {
    background: rgba(0, 0, 0, 0.90);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20);
}

#widget-1, #widget-2, #widget-3{
    background: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20);
    border: 1px black solid;
}